.banner{
    display: block;
    margin: 30px auto;
    width: 85%;
}

.shopcategory_indexsort{
    display: flex;
    margin: 0px 120px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px ;
    border: 1px solid #888;
}

.shopcategory_indexsort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 120px;
    display: grid;
    grid-template-columns: repeat(4, minmax(180px, 1fr));
    row-gap: 80px;
    column-gap: 20px;
    justify-items: center;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .shopcategory_indexsort,
    .shopcategory-products {
        margin-left: 30px;
        margin-right: 30px;
    }

    .shopcategory-products {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
    }
}

@media (max-width: 768px) {
    .shopcategory_indexsort {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 20px;
    }

    .shopcategory-products {
        margin: 20px 20px;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        row-gap: 40px;
    }
}

@media (max-width: 480px) {
    .banner {
        width: 92%;
    }

    .shopcategory-products {
        grid-template-columns: 1fr;
    }
}